.App {
  text-align: center;
}

@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background: #221f1f;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.logo {
   height: 20px;
}

.search {
  margin-left: 32%;
  margin-right: 3%;
  width: 20%;
  border-radius: 15px;
  background-color: black;
}

